# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = webscrapy.settings

[deploy]
# url = http://localhost:6800/
url = http://116.62.195.14:1083/
project = webscrapy

#发布 scrapyd-deploy -p webscrapy

